apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  labels:
    app: image-similarity-frontend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: image-similarity-frontend

